@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>
            Что-то пошло не так. Но вы не растраивайтесь и перекусите &#127828 &#127828 &#127828
        </h3>
    </div>
</body>
</html>
